@page
@using cosmofolie.Models;
@model cosmofolie.Pages.Articles.DetailsArticlesModel;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    var comments = Model.Article.Comments;
}

<div class="container-fluid pb-5 pt-5" style = "background-color:#000 ">
    <div class="row">
        
        <div class="col-4">
            <img src="@Model.Article.Path" class="img-fluid" alt="">
        </div>
        <div class="col-8">
            <h1>@Model.Article.Titre</h1>
            <p>@Model.Article.Contenu</p>
            <p>@Model.Article.Comments</p>

            <div>


                @if (User.IsInRole(Constants.AdminRole))
                {
                    <div class="d-grid gap-2 d-md-block">
                        <a class="btn btn-primary" type="button" asp-page="Edite" asp-route-id="@Model.Article.ArticleId">
                            <i class="bi bi-pencil"></i>
                            Editer
                        </a>
                        <a class="btn btn-danger" type="button" asp-page="Deletmodel" asp-route-id="@Model.Article.ArticleId">
                            <i class="bi bi-trash"></i>
                            Supprimer
                        </a>
                    </div>
                }
            </div>
        </div>
     </div>
</div>


<div class="container-fluid">
    <h3>Commentaire</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Content</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var comment in comments)
            {
                <tr>
                    <td>@comment.Content</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@if (SignInManager.IsSignedIn(User))
{
    <div class="container ms-5 me-5">
        <form method="post">
            <input type="hidden" asp-for="CreateViews.ArticleId">
            <div class="form-group">
                <label asp-for="CreateViews.Content" class="control-label "></label>
                <input asp-for="CreateViews.Content" class="form-control py-3" />
                <span asp-validation-for="CreateViews.Content" class="text-danger"></span>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary btnCreerFilm">Create</button>
            </div>
            
        </form>
    </div>
    
}
