@page
@using cosmofolie.Models;
@model cosmofolie.Pages.Articles.DetailsArticlesModel;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    var comments = Model.Article.Comments;
}

<div class="container-fluid pb-5 pt-5" style = "background-color: grey ">
    <div class="row">
        
        <div class="col-4">
            <img src="@Model.Article.Path" class="img-fluid" alt="">
        </div>
        <div class="col-8">
            <h1>@Model.Article.Titre</h1>
            <p>@Model.Article.Contenu</p>
            <p>@Model.Article.Comments</p>

            <div>


                @if (User.IsInRole(Constants.AdminRole))
                {
                    <div class="d-grid gap-2 d-md-block">
                        <a class="btn btn-primary" type="button" asp-page="Edite" asp-route-id="@Model.Article.ArticleId">
                            <i class="bi bi-pencil"></i>
                            Editer
                        </a>
                        <a class="btn btn-danger" type="button" asp-page="Deletmodel" asp-route-id="@Model.Article.ArticleId">
                            <i class="bi bi-trash"></i>
                            Supprimer
                        </a>
                    </div>
                }
            </div>
        </div>
     </div>
</div>

<h3>Comments</h3>

<table class="table">
    <thead>
        <tr>
            <th>Content</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var comment in comments)
        {
            <tr>
                <td>@comment.Content</td>
                <td>
                  @*  <a asp-page="./Edit" asp-route-id="@comment.Id">Edit</a> |
                    <a asp-page="./Delete" asp-route-id="@comment.Id">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
@if (SignInManager.IsSignedIn(User))
{
    <form method="post">
        <input type="hidden" asp-for="CreateViews.ArticleId">
        <div class="form-group">
            <label asp-for="CreateViews.Content" class="control-label"></label>
            <input asp-for="CreateViews.Content" class="form-control" />
            <span asp-validation-for="CreateViews.Content" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
}
